---
- name: Install cilium
  ansible.builtin.include_tasks: install-cilium.yaml
  vars:
    kubeconfig_path: "{{ k3s_kubeconfig_path }}"
    config_dir: "{{ k3s_config_dir }}"

  when: install_cilium|bool and inventory_hostname in groups['initial_master_node']

- name: Create (testing) root certificate
  block:
    - name: Generate self-signed certificate
      ansible.builtin.shell: |
        openssl genrsa -out {{ root_ca_key }} 2048
        openssl req -x509 -new -nodes -key {{ root_ca_key }} \
        -days 3650 -sha256 -out {{ root_ca }} -subj "{{ root_cert_subject }}"
        cp {{ root_ca }} {{ os_cert_path }}/k3s-ca.crt
        update-ca-certificates

    - name: Create cert-manager namespace and secret
      ansible.builtin.shell: |
        kubectl create ns cert-manager || true
        kubectl create secret tls -n cert-manager root-ca \
        --cert={{ root_ca }} --key={{ root_ca_key }} || true
      environment:
        KUBECONFIG: "{{ k3s_kubeconfig_path }}"

  when: create_root_cert|bool and inventory_hostname in groups['initial_master_node']
