---
- name: Ensure .kube directory exists for user
  ansible.builtin.file:
    path: /home/{{ ansible_user }}/.kube
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0700'

- name: Copy k3s kubeconfig to users home
  ansible.builtin.copy:
    src: "{{ kubeconfig_path }}"
    dest: "{{ destination_kubeconfig_path }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
    remote_src: true
    become: true
    become_user: root
