---
- name: Install kubernetes Python library
  ansible.builtin.pip:
    name: kubernetes
  when: inventory_hostname in groups['initial_master_node']

- name: Deploy additional manifests
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}"
    state: present
    definition: "{{ lookup('template', 'manifest-file.yaml.j2') | from_yaml }}"
  loop: "{{ q('ansible.builtin.dict', manifests) }}"
  when: inventory_hostname in groups['initial_master_node']
