---
- name: Add helm chart repositories
  kubernetes.core.helm_repository:
    name: "{{ item.key }}"
    repo_url: "{{ item.value.url }}"
    force_update: true
  loop: "{{ q('ansible.builtin.dict', helm_repositories) }}"
  when: inventory_hostname in groups['initial_master_node'] and helm_repositories is defined

- name: Install Helm Diff
  kubernetes.core.helm_plugin:
    plugin_path: "https://github.com/databus23/helm-diff"
    state: present
  when: inventory_hostname in groups['initial_master_node'] and install_helm_diff|bool

- name: Deploy helm charts
  kubernetes.core.helm:
    kubeconfig: "{{ kubeconfig_path }}"
    name: "{{ item.key }}"
    chart_ref: "{{ item.value.ref }}"
    chart_version: "{{ item.value.version | default('latest') }}"
    release_namespace: "{{ item.value.namespace }}"
    create_namespace: true
    state: "{{ helm_state }}"
    values: "{{ lookup('template', 'helm-values.yaml.j2') | from_yaml }}"
    wait: "{{ item.values.wait | default(omit) }}"
  loop: "{{ q('ansible.builtin.dict', helm_releases) }}"
  when: inventory_hostname in groups['initial_master_node'] and helm_releases is defined
  ignore_errors: "{{ item.value.ignore | default(omit) }}"
