---
- name: Prepare rancher nodes
  ansible.builtin.include_role:
    name: configure-rke-node
  vars:
    install_docker: "{{ rke_install_docker }}"
    docker_version: "{{ rke_docker_version }}"
    docker_ce_version: "{{ rke_docker_ce_version }}"
    template_creation_setup: true
  when: prepare_rancher_ha_nodes|bool

- name: Install containerd
  ansible.builtin.include_tasks: install-containerd.yaml
  when: install_containerd|bool

- name: Configure rke2 containerd paths
  ansible.builtin.include_tasks: configure-rke2containerd-paths.yaml
  when: configure_rke2containerd_paths|bool

- name: Download air-gapped container images
  block:

    - name: Create air-gapped image dir
      ansible.builtin.file:
        path: "{{ rke2_airgapped_install_dir }}"
        state: directory
        owner: "{{ rke2_user_name }}"
        group: "{{ rke2_user_group }}"

    - name: Download air-gapped image archive
      ansible.builtin.get_url:
        url: "{{ rke2_airgapped_image_url }}"
        dest: "{{ rke2_airgapped_install_dir }}/{{ rke2_airgapped_archive }}"
        validate_certs: "{{ validate_certs }}"

  when: rke2_airgapped_installation|bool and not install_k3s and rke_state == "present"

- name: Deploy rke{{ rke_version }}
  ansible.builtin.include_tasks: "deploy-rke{{ rke_version }}.yaml"
  when: rke_state == "present" and not install_k3s

- name: Deploy k3s
  ansible.builtin.include_tasks: deploy-k3s.yaml
  when: install_k3s|bool and k3s_state == "present"

- name: Fetch kubeconfig local to ansible host
  ansible.builtin.fetch:
    src: "{{ kubeconfig_path }}"
    dest: "{{ fetched_kubeconfig_path }}"
    flat: yes
    run_once: true
  when: inventory_hostname in groups['initial_master_node'] and fetch_kubeconfig|bool

- name: Ensure .kube directory exists for user
  ansible.builtin.file:
    path: /home/{{ ansible_user }}/.kube
    state: directory
    owner: sthings
    group: sthings
    mode: '0700'

- name: Copy k3s kubeconfig to users home
  ansible.builtin.copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /home/{{ ansible_user }}/.kube/test
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
    remote_src: true
    become: true
    become_user: root

- name: Remove rke2
  ansible.builtin.include_tasks: remove-rke2.yaml
  when: rke_state == "absent" and rke_version == 2 and not install_k3s

- name: Remove k3s
  ansible.builtin.include_tasks: remove-k3s.yaml
  when: install_k3s|bool and k3s_state == "absent"

- name: Deploy helm charts
  ansible.builtin.include_tasks: deploy-helm-charts.yaml
  when:
    - deploy_helm_charts | bool
    - k3s_state != "absent"
    - rke_state != "absent"

- name: Deploy additional manifests
  ansible.builtin.include_tasks: deploy-additional-manifests.yaml
  when: manifests is defined and rke_state == "present"
