#!/bin/bash

FILES="{{ rke2_config_dir }}/{{ rke2_imagelist }}"

while read i; do

  image=$(echo $i | cut -d'/' -f 3)
  tag=$(echo $image| cut -d':' -f 2)
  imagename=$(echo $image| cut -d':' -f 1)

  echo Pulling "$i"

  sudo {{ containerd_cli }} image pull $i

  echo Exporting "$i"

  sudo {{ containerd_cli }} image export $(echo $i | cut -d'/' -f 2)-$imagename-$tag.tar $i

  echo Importing "$i"

  sudo {{ containerd_cli }} -n=k8s.io image import $(echo $i | cut -d'/' -f 2)-$imagename-$tag.tar
  
  echo Removing tarfile for "$i"

  sudo rm -rf $(echo $i | cut -d'/' -f 2)-$imagename-$tag.tar
  
done <${FILES}

sudo {{ containerd_cli }} --namespace k8s.io images ls
