#!/bin/bash

FILES="{{ rke2_config_dir }}/{{ rke2_imagelist }}"

while read image; do

  image=$(echo $image | cut -d'/' -f 3)
  tag=$(echo $image| cut -d':' -f 2)
  imagename=$(echo $image| cut -d':' -f 1)

  echo Pulling "$image"

  sudo {{ containerd_cli }} image pull $image

  echo Exporting "$image"

  sudo {{ containerd_cli }} image export $(echo $image | cut -d'/' -f 2)-$imagename-$tag.tar $image

  echo Importing "$image"

  sudo {{ containerd_cli }} -n=k8s.io image import $(echo $image | cut -d'/' -f 2)-$imagename-$tag.tar
  
  echo Removing tarfile "$image"

  sudo rm -rf $(echo $image | cut -d'/' -f 2)-$imagename-$tag.tar
  
done <${FILES}

sudo {{ containerd_cli }} --namespace k8s.io images ls
