---
{% if rke2_registry_configs is defined %}
configs:
{% for cfg in rke2_registry_configs.values() %}
  {{ cfg.name }}:
    auth:
      username: {{ cfg.username }}
      password: {{ cfg.password }}
{% endfor %}
{% endif %}

{% if rke2_registry_mirrors is defined %}
mirrors:
{% for mirror in rke2_registry_mirrors %}
  "{{ mirror.name }}":
    endpoint:
{% for ep in mirror.endpoints %}
      - "{{ ep }}"
{% endfor %}
{% endfor %}
{% endif %}
