---
{% if install_containerd %}
container-runtime-endpoint: {{ container_runtime_endpoint }}
{% endif %}
{% if kubeconfig_mode_644 %}
write-kubeconfig-mode: 644
{% endif %}
{% if inventory_hostname not in groups['initial_master_node'] %}
{% for host in groups['initial_master_node'] %}
server: https://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ rke2_node_register_port }}
{% endfor %}{% endif %}
{% if rke2_shared_token is defined %}
token: {{ rke2_shared_token }}
{% endif %}
cni: {{ rke2_cni }}
{% if rke2_tls_sans is defined %}{% for tls_san in rke2_tls_sans.values() %}
tls-san:
  - {{ tls_san }}
{% endfor %}{% endif %}
{% if disable_rke2_components is defined %}
disable:
{% for disablement in disable_rke2_components %}
  - {{ disablement }}
{% endfor %}
{% endif %}
disable-kube-proxy: {{ disableKubeProxy }}
